body {
    background-image: url("../images/kenny-luo-649778-unsplash.jpg");
    background-size: 100%;
}


.jumbotron {
    background-color: rgba(173, 235, 235, 0.5);
    text-align: center;
    margin-bottom: 15px;
    padding-bottom: 35px;

}


img {
    overflow: hidden;
    mix-blend-mode: multiply;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-name: flip;  
    background-color: rgba(173, 235, 235, 0);
    height: 275px;
    width: 300px;
   
}

#left-fork {
    transform: rotate("20deg");
}


h1 {
    
    font-size: 100px;
    letter-spacing: 7px;
    padding: 45px;
    color: rgb(255,194,102);
    text-shadow: 0 0 3px black, -1px -1px 3px black, 1px 0 3px black, 1px 1px 3px black;
}




@keyframes flip {
    from {
      -webkit-transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 0)
        rotate3d(0, 1, 0, -360deg);
      transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 0) rotate3d(0, 1, 0, -360deg);
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
    }
    40% {
        -webkit-transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 90px)
          rotate3d(0, 1, 0, -190deg);
        transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 90px)
          rotate3d(0, 1, 0, -190deg);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
      }
    
      50% {
        -webkit-transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 130px)
          rotate3d(0, 1, 0, -170deg);
        transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 130px)
          rotate3d(0, 1, 0, -170deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
      }
    
      80% {
        -webkit-transform: perspective(400px) scale3d(0.95, 0.95, 0.95) translate3d(0, 0, 0)
          rotate3d(0, 1, 0, 0deg);
        transform: perspective(400px) scale3d(0.95, 0.95, 0.95) translate3d(0, 0, 0)
          rotate3d(0, 1, 0, 0deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
      }
    
      to {
        -webkit-transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 0)
          rotate3d(0, 1, 0, 0deg);
        transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 0) rotate3d(0, 1, 0, 0deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
      }
    }
    